**/*-coverage.html
**/*-unit-tests.xml
**/*_test.go
**/.gitignore
**/c.out
**/README.md
.dockerignore
.git/
awscodecommit/awscodecommit
awscognito/awscognito
awsdynamodb/awsdynamodb
awsiot/awsiot
awskinesis/awskinesis
awss3/awss3
awssns/awssns
awssqs/awssqs
