# Top level files and directories
/.circleci/
/.git/
/test/
/hack/
/scripts/
!/hack/inc.Codegen.mk
/.dockerignore
/.gcloudignore

# Files copied to KO_DATA_PATH directory
!/.git/HEAD
!/.git/refs/

# Patterns
**/config/
**/*.md
**/*_test.go
**/.gitignore
**/cloudbuild.yaml
**/Dockerfile

# Binaries
**/_output/
