# Local configurations and secrets
**/.env
**/.aws

# Continuous integration
**/c.out
**/*-coverage.html
**/*-unit-tests.xml

# Editors and IDEs
/.idea/
*~
*.swp
*.swo

# Build artifacts
**/*-linux-amd64
**/*-darwin-amd64
