# Local configurations and secrets
/.env/
/.local/

# Continuous integration

# Editors and IDEs
*.swo
*.swp
*~
/*.sublime-project
/*.sublime-workspace
/.DS_Store
/.idea/
/.vscode/

# Build artifacts
**/_output
